In [1]:
import seaborn as sns
import pandas as pd
import os

Create path variables

In [6]:
curr_dir = os.getcwd()
raw_data_dir = 'Rawdata'
raw_data_name = 'Customer Data.csv.xls'
raw_data_path = os.path.join(curr_dir, raw_data_dir, raw_data_name)

print(curr_dir)
print(raw_data_path)

/Users/newsogood/Documents/Workspace/3RD_Year/1ST_Semester/FRA503/Machine_Learning_Project
/Users/newsogood/Documents/Workspace/3RD_Year/1ST_Semester/FRA503/Machine_Learning_Project/Rawdata/Customer Data.csv.xls

Load Raw Data for Data Exploration

In [9]:
raw_data = pd.read_csv(raw_data_path)

Base Structure of Raw Data

In [11]:
print('Amount of features in raw_data : ' + str(len(raw_data.columns)))
raw_data.columns

Amount of features in raw_data : 18

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [12]:
raw_data.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [13]:
raw_data.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [51]:
corr_raw_data = raw_data.corr()

In [68]:
high_corr_coef = []
for column_name in corr_raw_data.columns:
    for index_name in corr_raw_data.index:
        if (((corr_raw_data.loc[column_name, index_name] > 0.5) | (corr_raw_data.loc[column_name, index_name] < -0.5)) and (column_name != index_name)):
            print(str(column_name) + ' : ' + str(index_name))
            high_corr_coef.append(index_name)

BALANCE : CREDIT_LIMIT
PURCHASES : ONEOFF_PURCHASES
PURCHASES : INSTALLMENTS_PURCHASES
PURCHASES : PURCHASES_TRX
PURCHASES : PAYMENTS
ONEOFF_PURCHASES : PURCHASES
ONEOFF_PURCHASES : ONEOFF_PURCHASES_FREQUENCY
ONEOFF_PURCHASES : PURCHASES_TRX
ONEOFF_PURCHASES : PAYMENTS
INSTALLMENTS_PURCHASES : PURCHASES
INSTALLMENTS_PURCHASES : PURCHASES_INSTALLMENTS_FREQUENCY
INSTALLMENTS_PURCHASES : PURCHASES_TRX
CASH_ADVANCE : CASH_ADVANCE_FREQUENCY
CASH_ADVANCE : CASH_ADVANCE_TRX
PURCHASES_FREQUENCY : ONEOFF_PURCHASES_FREQUENCY
PURCHASES_FREQUENCY : PURCHASES_INSTALLMENTS_FREQUENCY
PURCHASES_FREQUENCY : PURCHASES_TRX
ONEOFF_PURCHASES_FREQUENCY : ONEOFF_PURCHASES
ONEOFF_PURCHASES_FREQUENCY : PURCHASES_FREQUENCY
ONEOFF_PURCHASES_FREQUENCY : PURCHASES_TRX
PURCHASES_INSTALLMENTS_FREQUENCY : INSTALLMENTS_PURCHASES
PURCHASES_INSTALLMENTS_FREQUENCY : PURCHASES_FREQUENCY
PURCHASES_INSTALLMENTS_FREQUENCY : PURCHASES_TRX
CASH_ADVANCE_FREQUENCY : CASH_ADVANCE
CASH_ADVANCE_FREQUENCY : CASH_ADVANCE_TRX
CASH_ADVANCE_TRX : CASH_ADVANCE
CASH_ADVANCE_TRX : CASH_ADVANCE_FREQUENCY
PURCHASES_TRX : PURCHASES
PURCHASES_TRX : ONEOFF_PURCHASES
PURCHASES_TRX : INSTALLMENTS_PURCHASES
PURCHASES_TRX : PURCHASES_FREQUENCY
PURCHASES_TRX : ONEOFF_PURCHASES_FREQUENCY
PURCHASES_TRX : PURCHASES_INSTALLMENTS_FREQUENCY
CREDIT_LIMIT : BALANCE
PAYMENTS : PURCHASES
PAYMENTS : ONEOFF_PURCHASES

In [71]:
print(len(high_corr_coef))
print(sorted(high_corr_coef))

36
['BALANCE', 'CASH_ADVANCE', 'CASH_ADVANCE', 'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'CASH_ADVANCE_TRX', 'CREDIT_LIMIT', 'INSTALLMENTS_PURCHASES', 'INSTALLMENTS_PURCHASES', 'INSTALLMENTS_PURCHASES', 'ONEOFF_PURCHASES', 'ONEOFF_PURCHASES', 'ONEOFF_PURCHASES', 'ONEOFF_PURCHASES', 'ONEOFF_PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY', 'PAYMENTS', 'PAYMENTS', 'PURCHASES', 'PURCHASES', 'PURCHASES', 'PURCHASES', 'PURCHASES_FREQUENCY', 'PURCHASES_FREQUENCY', 'PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY', 'PURCHASES_TRX', 'PURCHASES_TRX', 'PURCHASES_TRX', 'PURCHASES_TRX', 'PURCHASES_TRX', 'PURCHASES_TRX']

In [72]:
high_corr_data = raw_data[high_corr_coef]

In [73]:
high_corr_data.describe()

,CREDIT_LIMIT,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,PURCHASES,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_TRX,PAYMENTS,PURCHASES,...,CASH_ADVANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,BALANCE,PURCHASES,ONEOFF_PURCHASES
count,8949.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,...,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000
mean,4494.449450,592.437371,411.067645,14.709832,1733.143852,1003.204834,0.202458,14.709832,1733.143852,1003.204834,...,0.135144,1003.204834,592.437371,411.067645,0.490351,0.202458,0.364437,1564.474828,1003.204834,592.437371
std,3638.815725,1659.887917,904.338115,24.857649,2895.063757,2136.634782,0.298336,24.857649,2895.063757,2136.634782,...,0.200121,2136.634782,1659.887917,904.338115,0.401371,0.298336,0.397448,2081.531879,2136.634782,1659.887917
min,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1600.000000,0.000000,0.000000,1.000000,383.276166,39.635000,0.000000,1.000000,383.276166,39.635000,...,0.000000,39.635000,0.000000,0.000000,0.083333,0.000000,0.000000,128.281915,39.635000,0.000000
50%,3000.000000,38.000000,89.000000,7.000000,856.901546,361.280000,0.083333,7.000000,856.901546,361.280000,...,0.000000,361.280000,38.000000,89.000000,0.500000,0.083333,0.166667,873.385231,361.280000,38.000000
75%,6500.000000,577.405000,468.637500,17.000000,1901.134317,1110.130000,0.300000,17.000000,1901.134317,1110.130000,...,0.222222,1110.130000,577.405000,468.637500,0.916667,0.300000,0.750000,2054.140036,1110.130000,577.405000
max,30000.000000,40761.250000,22500.000000,358.000000,50721.483360,49039.570000,1.000000,358.000000,50721.483360,49039.570000,...,1.500000,49039.570000,40761.250000,22500.000000,1.000000,1.000000,1.000000,19043.138560,49039.570000,40761.250000

In [87]:
high_corr_data.dropna(inplace=True)

/var/folders/0q/_7vdy7d50zn56_ss9skct64m0000gn/T/ipykernel_71317/2943607558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_corr_data.dropna(inplace=True)